<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--<add key="connectStr" value="Data Source=.;Initial Catalog=wcs;Persist Security Info=True;User ID=sa;Password=123456" />-->
    <!--<add key="ConnectionStr" value="server=172.16.29.45;user id=softhuaheng;password=HHrobot123.;persistsecurityinfo=True;database=huahengwcs2;SslMode=none" />-->
    <add key="ConnectionStr" value="server=192.168.10.10;user id=liufu;password=123456;persistsecurityinfo=True;database=huahengwcs2;SslMode=none;" />
    <!--本地测试-->
  </appSettings>
</configuration>