<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="connectStr" value="Data Source=172.16.29.88;Initial Catalog=lijinji;Persist Security Info=True;User ID=sa;Password=1qaz!QAZ"/>
  </appSettings>
</configuration>