<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--本地测试-->
    <!--<add key="ConnectionStr" value="Data Source=.;Initial Catalog=SANYMES;Persist Security Info=True;User ID=sa;Password=123456" />-->
    <!--客户端测试-->
    <!--<add key="ConnectionStr" value="Data Source=192.168.1.198;Initial Catalog=SANYMES;user id=sa;password=123456;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />-->
    <!--<add key="ConnectionStr" value="Data Source=192.168.2.215;Initial Catalog=SANYMES;Persist Security Info=True;User ID=sa;Password=123456" />-->
    <!--正式环境-->
    <add key="ConnectionStr" value="Data Source=10.16.139.101;Initial Catalog=SANYMES;Persist Security Info=True;User ID=sa;Password=123456" />
  </appSettings>
</configuration>