<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--本地测试-->
    <add key="ConnectionStr" value="Data Source=.;Initial Catalog=SANYMES;Persist Security Info=True;User ID=sa;Password=123456" />
	<!--add key="ConnectionStr" value="Data Source=.;Initial Catalog=SanyLegLineUAT;Persist Security Info=True;User ID=sa;Password=123456" /-->

    <!--客户端测试-->
    <!--<add key="ConnectionStr" value="Data Source=192.168.1.198;Initial Catalog=SANYMES;user id=sa;password=123456;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />-->
    <!--<add key="ConnectionStr" value="Data Source=192.168.2.215;Initial Catalog=SANYMES;Persist Security Info=True;User ID=sa;Password=123456" />-->

    <!--正式环境-->
    <!--<add key="ConnectionStr" value="Data Source=10.16.139.101;Initial Catalog=SANYMES;Persist Security Info=True;User ID=sa;Password=123456" />-->

    <!--服务器正式环境-->
    <!--SanyLegLinePRO-->
    <!--<add key="ConnectionStr" value="Data Source=10.16.1.121;Initial Catalog=SanyLegLinePRO;Persist Security Info=True;User ID=LegLine;Password=123456" />-->



    <add key="Interval" value="300" />
    <add key="OPCServerIP" value="192.168.1.95" />
    <add key="WarehouseId" value="1" />
    <add key="WarehouseCode" value="CS0001" />
    <add key="PrinterName" value="Bar Code Printer T-4503E" />
    <add key="PrinterReport" value="Barcode3.frx" />
    <add key="LEDIP" value="192.168.10.110" />
    <add key="LEDPort" value="5005" />
    <add key="LEDTimer" value="1" />
    <add key="ServerUrl" value="http://172.16.28.85:8888" />
    <add key="LeftLedIP" value="192.168.1.110" />
    <add key="RightLedIP" value="192.168.1.111" />
    <add key="LogPath" value="D://HH//WCS//LOG" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>